@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prototype Syncing Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body id="whole-body">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container navbar-container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Syncd</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>

                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ml-auto navbar-right">
                        <li class="nav-item">
                            <label for="night-mode-toggle" id="night-mode-label">Night mode</label>
                        </li>

                        <li class="nav-item">
                            <div id="night-mode-div">
                                <label class="switch night-mode-switch">
                                    <input type="checkbox" id="night-mode-toggle" />
                                    <span class="slider round"></span>


                                </label>
                            </div>
                        </li>

                        <li class="nav-item">
                            <input type="text" id="usernameBox">
                            <div class="alert alert-danger" role="alert" id="alert-username-too-long">
                                Name must be less than 25 characters
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div id="area-beneath-header">
        <div id="middle-area">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <!--
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Prototype website for synced YouTube videos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        -->
    </div>
    

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
