@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Syncd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body id="whole-body">
    <header>
        @{
            var url = Context.Request.Path; /* Our current url path */
        }

        @if (url.Equals("/")) /* If we're on the home page, i.e. nothing after the main url */
        {
            <partial name="~/Views/Shared/Navbar/_NavbarPlain.cshtml" />
        }
        else if (url.StartsWithSegments("/room")) /* If the part after the main url starts with "/room", we're in a room */
        {
            <partial name="~/Views/Shared/Navbar/_NavbarWithNightMode.cshtml" />
        }
        else /* Any other page on the site */
        {
            <partial name="~/Views/Shared/Navbar/_NavbarPlain.cshtml" />
        }
    </header>
    <div id="area-beneath-header">
        <div id="middle-area">
            <main role="main" id="main-area">
                @RenderBody()
            </main>
        </div>

        <!--
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Prototype website for synced YouTube videos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        -->
    </div>
    

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
