

/* For the intro text */
.text-responsive {
    font-size: calc(100% + 1.5vw + 1.5vh);
    text-shadow: 2px 2px 8px #000;
    color: #fff;
}

#whole-index-area {
    min-height: calc(100vh - 55px);
    min-width: 100%;
/* The background animation */
    background: linear-gradient(-45deg, #bd4f6c, #d7816a, #f0cf65, #ddedaa, #93b5c6);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
/* end of background animation */

/* ------------ Start of "create room button" ------------- */

/* create room button in night mode */
a.btn-info.night-mode {
    background: #3a3353;
    border-color: #272237;
    box-shadow: 0px 2px 4px #1f1f1f;
}

/* create room button */
.btn-primary {
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 2px 2px 8px #000;
}

/* btn-responsive doesnt seem to be used in the home page anymore, leaving it here in case it's reintroduced*/
.btn-responsive {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);
}

/* ------------ End of "create room button" ------------- */

