@{
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" type="text/css" href="~/css/index.css">


    <div class="alert alert-warning" role="alert" id="alert-using-internet-explorer">
        We are sorry, this website does not work correctly with Internet Explorer. Please try using a different browser. 
    </div>

    <div class="create-room-area">
        <h3 class="home-title">Watch YouTube videos together, free!</h3>
        <a href="/new" class="btn btn-info create-room-btn" role="button">Create a Room</a>
    </div>
        

