@{
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" type="text/css" href="~/css/index.css">


    <div class="create-room-area">
        <h3 class="home-title">Watch YouTube videos together, free!</h3>
        <a href="/new" class="btn btn-info create-room-btn" role="button">Create a Room</a>
    </div>
        

