@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/index.css">

<div id="whole-index-area">
    <!--<div class="alert alert-warning" role="alert" id="alert-using-internet-explorer">
        We are sorry, this website does not work correctly with Internet Explorer. Please try using a different browser.
    </div>-->
    <!-- Mask ? -->
    <div class="mask rgba-black-strong">
        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-10">

                    <h1 class="text-responsive fadeIN font-weight-bold">Watch. Stream. Bond.</h1>

                    <a href="/new" class="btn fadeIN btn-primary btn-warning btn-md btn-info create-room-btn" role="button">Create a Room</a>

                </div>
            </div>
        </div>
    </div>
</div>
