
.room-mobile {
    display: none;
    height: 0px;
    line-height: 2.5;
}

.icon, .link-icon {
    color: hotpink;
    margin-top: 11px;
}

.link-icon {
    
}

i.night-mode {
    color: mediumpurple;
}

/* Hamburger menu icon */
.fa-bars {
    transform: scale(1.6, 1.6);
    color: hotpink;
    padding-right: 15px;
    height: 100%;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 16px;
}

/* Syncd title on mobile */
#navbar-mobile-title {
    text-align: center;
    font-family: Arial, Verdana, sans-serif;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    line-height: 1.5;
}

/*the whole nav bar*/
.whole-navbar {
    box-shadow: 1px 1px 7px #2b2b2b;
    height: 55px;
    width: 100%;
    position: relative;
    padding: 0px 110px 0px 20px;
    overflow: hidden;
}

#room-navbar.night-mode {
    /*box-shadow: 0px 2px 5px black;*/
}

/* a class created for all items of type "ul" in the navbar*/
.room-navbar-ul {
    list-style-type: none; /* Remove bullet points from each item in the navbar*/
    padding-right: 15px;
    height: 100%;
}

/* a class created for all items of type "li" in the navbar*/
.room-navbar-li {
    float: left;
    height: 100%;
}
/* a class meant for any content inside the li items of the navbar */
.room-navbar-content {
    display: block;
    padding: 8px;
    text-align: center;
    float: left;
}

/* any link in the navbar (i.e. <a href=""></a>)*/
.room-navbar-link{
    color: black;
    height: 100%;
    line-height: 2.3;
}

/* any link in the navbar (i.e. <a href=""></a>)*/
.room-navbar-link:hover {
    background-color: #f3f3f3;
    color: black;
    text-decoration: none;
}

/* any link in the navbar (i.e. <a href=""></a>)*/
.room-navbar-link.night-mode:hover {
    background-color: #525252;
    color: white;
    text-decoration: none;
}

/* the branding i.e. where it says the name of the site as well as the brand image*/
.room-navbar-branding {
    float: left;
    /*border-right: 1px solid lightgray;*/
}

/* the title of the navbar "Syncd" */
#navbar-title {
    text-align: center;
    font-family: Arial, Verdana, sans-serif;
    line-height: 1.4;
}

/* the brand image of the navbar. this is the image that appears in the navbar*/
.room-navbar-brand-image {
    height: 55px;
    width: 55px;
    margin-right: 50px;
}

/* the items on the navbar that appear on the left side of it*/
.room-navbar-left {
    float: left;
}

/* the items on the navbar that appear on the right side of it*/
.room-navbar-right {
    float: right;
}

/* The warning message that alerts the user when their entered name is too long */
#alert-username-too-long {
    margin-bottom: 1px;
    height: 16px;
    line-height: 12px;
    font-size: 11px;
    position: absolute;
}

/* the night mode styling of the username box */
#username-box.night-mode {
    border: 1px solid #4b4b4b;
    background: #373737;
    color: #d0d0d0;
}

/* the general styling of the username box (applies to day and night modes) */
#username-box {
    border: 1px solid #e6e6e6;
    margin-top: 15px;
    padding: 0px 0px 2px 2px;
    height: 24px;
    width: 200px;
}

/* The night mode switch */

#night-mode-div {
    margin-top: 8px;
    padding-right: 50px;
}

/* The night mode text */
#night-mode-label {
    margin-top: 6px;
}

@media screen and (max-width: 767px) {
    /* Hamburger menu icon */
    .fa-bars {
        height: 0px;
    }

    #navbar-mobile-title {
        line-height: 1.75;
    }
}

/* When the screen width is lower than 750px */
@media screen and (max-width: 877px) {
    .room-navbar-left, .room-navbar-right, .room-navbar-branding {
        display: none;
        padding-left: 0;
    }

    .whole-navbar {
        padding: 0px 110px 0px 0px;
    }

    .room-navbar-ul {
        height: 100%;
        padding-left: 0px;
    }
    .room-mobile {
        display: block;
        padding-left: 30px;
    }

}

@media screen and (max-width: 877px) {
    .whole-navbar.responsive {
        position: relative;
        overflow: visible;
        
    }

        .whole-navbar.responsive .room-navbar-left {
            float: none;
            display: block;
            text-align: left;
        }

        .whole-navbar.responsive .room-navbar-right {
            float: none;
            display: block;
            text-align: left;
        }

        .whole-navbar.responsive .room-navbar-li {
            /*padding-right: 0px;*/
            /*margin: 0px 0px -14px 0px;*/
            
        }

        .whole-navbar.responsive .mobile-menu-item {
            float: left;
            margin-bottom: 25px;
            padding-bottom: 25px;
            padding-left: 20px;
            background-color: white;
            min-width: 350px;
            width: 55%;
            position: absolute;
            z-index: 999;
            
        }
        .whole-navbar.responsive .icon, .link-icon {
            margin-right: 10px;
        }

        

        .whole-navbar.responsive .mobile-menu-item.night-mode {
            background-color: #373737;
          
        }

        .whole-navbar.responsive .room-navbar-content {
        }

        .whole-navbar.responsive #home-link {
            top: 50px;
        }

        .whole-navbar.responsive #night-mode-toggle-area {
            top: 100px;
        }

        .whole-navbar.responsive #username-box-area {
            top: 150px;
        }

        .whole-navbar.responsive .room-navbar-link:hover {
            background-color: transparent;
            color: black;
            text-decoration: none;
        }

        /* any link in the navbar (i.e. <a href=""></a>)*/
        .whole-navbar.responsive .room-navbar-link.night-mode:hover {
            background-color: transparent;
            color: white;
            text-decoration: none;
        }
}