/*the whole nav bar*/
.index-navbar {
    box-shadow: 0px 2px 5px #c1c1c1;
    height: 55px;
    width: 100%;
    position: relative;
    padding: 0px 110px 0px 20px;
    overflow: hidden;
}

/* a class created for all items of type "ul" in the navbar*/
.index-navbar-ul {
    list-style-type: none; /* Remove bullet points from each item in the navbar*/
    padding-right: 15px;
    height: 100%;
}

/* a class created for all items of type "li" in the navbar*/
.index-navbar-li {
    float: left;
    height: 100%;
}
/* a class meant for any content inside the li items of the navbar */
.index-navbar-content {
    display: block;
    padding: 8px;
    text-align: center;
}

/* any link in the navbar (i.e. <a href=""></a>)*/
.index-navbar-link {
    color: black;
    height: 100%;
    line-height: 2.2;
}

/* any link in the navbar when hovered over with the mouse */
.index-navbar-link:hover {
    background-color: #f3f3f3;
    color: black;
    text-decoration: none;
}

/* the title of the navbar "Syncd" */
#navbar-title {
    text-align: center;
}

/* the branding i.e. where it says the name of the site as well as the brand image*/
.index-navbar-branding {
    float: left;
    border-right: 1px solid gray;
}

/* the brand image of the navbar. this is the image that appears in the navbar*/
.index-navbar-brand-image {
    height: 55px;
    width: 55px;
    margin-right: 50px;
}

/* the items on the navbar that appear on the left side of it*/
.index-navbar-left {
    float: left;
}

/* the items on the navbar that appear on the right side of it*/
.index-navbar-right {
    float: right;
}

/* The red warning that appears when the username is too long */
#alert-username-too-long {
    margin-bottom: 1px;
    height: 14px;
    line-height: 12px;
    padding: 0px 15px;
    font-size: 12px;
    position: absolute;
}

/* Styling of the box where you enter your username. this styling is for night mode */
#username-box.night-mode {
    background: #373737;
    color: #d0d0d0;
}

/* Styling of the box where you enter your username. this applies generally in day and night mode*/
#username-box {
    border: none;
    margin-bottom: -5px;
    height: 30%;
    width: 210px;
}