.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(66, 43, 53), rgb(38, 23, 49)) repeat scroll 0% 0%;
    z-index: 1000;
    display: none;
}

.loading-info {
}

.loading-screen-middle {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
}

.loading-text {
    vertical-align: bottom;
    text-align: left;
    color: white;
}

.loading-icon {
    background: transparent;
    color: hotpink;
    margin-bottom: 10px;
}

/* Playlist */
#playlist-area-parent {
    overflow: auto;
    max-width: 35%;
    min-width: 100px;
    max-height: 40vh;
    background-color: #f8f8f8;
    box-shadow: 2px 4px 5px #a1a1a1;
    margin: 5px 5% 5% 0px;
    padding-bottom: 10px;
    display: inline-block;
    float: left;
}

#playlist-area-parent.night-mode {
    background-color: #2a2a2a;
    box-shadow: 3px 5px 5px #222222;
}

#playlist-area {
    height: 35%;
    
    margin-right: 5%;
    margin-bottom: 8%;
    position: relative;
    width: 100%;
    
}

#whole-room-area {
    /*background-color: red;*/
    max-width: 80%;
    margin: auto;
    padding-top: 10px;
}

#whole-room-centered {
    /*display: flex;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 50px);*/
}

/* The top title of the playlist that just says "Playlist" */
.playlist-header {
    padding: 2px 0px 0px 8px;
}
.playlist-title {
    font-size: 16px;
    width: 99%;
    
}

.playlist-author {
    float: left;
    margin-right: 3px;
    padding-right: 3px;
    font-size: 12px;
}

.playlist-options-button {
    top: 20px;
    left: 0;
    cursor: pointer;
    text-align: center;
    line-height: 12px;
    margin-top: 3px;
    padding: 2px 2px 2px 2px;
}

.playlist-dropdown-button {
    width: 120px;
}

.playlist-dropdown-button.night-mode {
    background-color: #454545;
}

.playlist-div {
    margin-bottom: 2px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #6b6b6b;
}

.playlist-info-div {
    width: 90%;
    height: 100%;
    cursor: pointer;
    float: right;
    margin-left: 2px;
    border-left: 1px solid #6b6b6b;
    padding-left: 6px;
    padding-bottom: 6px;
}

.dropdown {
    display: inline-block;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 25px;
    width: 20px;
    padding: 0px 3px 0px 3px;
    -moz-box-shadow: 0 0 3px black;
    -webkit-box-shadow: 0 0 3px black;
    box-shadow: 0 0 3px black;
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 110px;
    z-index: 1;
    top: 0px;
    left: 20px;
    font-size: 16px;
    line-height: 15px;
    border: 1px solid black;
}

.dropdown-content.night-mode {
    display: none;
    position: absolute;
    background-color: #454545;
    min-width: 160px;
    z-index: 1;
    padding-top: 5px;
    padding-left: 5px;
}

.dropdown-content p {
    text-decoration: none;
    display: block;
    color: black;   
    cursor: pointer;
}

.dropdown-content.night-mode p {
    text-decoration: none;
    display: block;
    color: #e9e9e9;
    cursor: pointer;
}

.dropdown-content p.hover {
    background-color: #ddd;
}

.dropdown-content.night-mode p.hover {
    background-color: #a8a8a8;
}

/* user list */
#userListArea {
    height: 35%;
    margin-bottom: 10px;
    margin-right: 1%;
    min-width: 170px;
    width: 40%;
    overflow-y: auto;
    max-height: 40vh;
    background-color: transparent;
    margin: 5px 2% 5% 0px;
    padding: 0 0 10px 0;
    box-shadow: 2px 4px 5px #a1a1a1;
    border: 1px solid gray;
    display: inline-block;
}

#userListArea.night-mode {
    background-color: #2a2a2a;
    box-shadow: 3px 5px 5px #222222;
    border: none;
}

.userDiv {
    padding: 0px 5px 5px 5px;
    display: inline-block;
    width: 100%;
    min-width: 100%;

}

i[id$="userIcon"] {
    display: inline-block;
    background: transparent;
    transform: scale(0.85, 0.85212);
}

div[id$="userIconDiv"] {
    display: inline-block;
    background: transparent;
    width: 23px;
    height: 25px;
}

p[id$="userName"] {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    vertical-align: bottom;
    line-height: 1.51;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 64%;
}

p[id$="userId"] {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    word-break: break-all;
    color: #797979;
    vertical-align: bottom;
    line-height: 1.51;
    
}

p[id$="userKick"], p[id$="userBan"], p[id$="userMakeAdmin"] {
    float: left;
    margin-right: 3px;
    padding-right: 3px;
    font-size: 12px;
    color: #3973fc;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 15px;

    height: 5px;
}

p[id$="userTime"] {
    font-size: 12px;
}



/* playlist & userlist */

.userDivElement, .playlist-div-element {
    margin: 0;
}

#user-and-playlist-area {
    overflow: hidden;
    width: 100%;
}

.table-heading {
    padding: 3px 0px 0px 3px;
    border-bottom: 1px solid gray;
}

table {
    display: inline-block;
    margin-right: 5px;
}

th, td {
    padding-left: 3px;
    padding-right: 3px;
    /*border: 1px solid black;*/
}

tr{ 

}

/* ungrouped page elements */
#alert-disconnected {
    display: none;
}

#video-title{ 
    margin-bottom: 2%;
}

#searchBar {
    width: 85%;
    margin-bottom: 10px;
}

#searchBarLabel {
    font-size: 17px;
}

.playerArea {
    display: flex;
}

@media screen and (max-width: 760px) {
    i[id$="userIcon"] {
        transform: scale(0.75, 0.75212);
    }

    div[id$="userIconDiv"] {
        width: 20px;
        height: 15px;
    }

    p[id$="userName"] {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
        /*display: inline-block;
        font-weight: bold;
        word-break: break-all;
        vertical-align: bottom;
        line-height: 1.51;*/
    }

    p[id$="userId"] {
        font-size: 12px;

        /*
        display: inline-block;
        font-weight: bold;
        word-break: break-all;
        color: #797979;
        vertical-align: bottom;
        line-height: 1.51;
        */
    }

    p[id$="userKick"], p[id$="userBan"], p[id$="userMakeAdmin"] {
        font-size: 11px;
        padding-right: 16px;
    }

    .playlist-title {
        font-size: 12px;
    }

    .playlist-author {
        font-size: 11px;
    }
    .dropdown-content {
        width: 10px !important;
        font-size: 12px;
    }

    .dropdown-content p {
    }
}