/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

/* INTRO BUTTON */
.btn-primary {

/* 
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac; */

  border-radius: 15px;
  font-weight: bold;
  box-shadow: 2px 2px 8px #000;
}

.btn-responsive {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);
}

/* END OF INTRO BUTTON */

/* NIGHT MODE SLIDER */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

#whole-body {
    min-height: calc(100vh - 50px);
}

#middle-area {
    width: 100%;
    
}

#area-beneath-header {
    min-height: calc(100vh - 63px);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    /*cursor: pointer;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b6b6b6;
    -webkit-transition: .4s;
    transition: .4s;

}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1861ac;

}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#night-mode-label {
    float: right;
    display: inline;
    margin-right: 3px;
    padding-top: 1px;
}

#night-mode-toggle {
    float: left;
    display: inline;
    
}

#night-mode-div {
    margin-right: 20px;
    padding-top: 4px;
}

/* END NIGHT MODE SLIDER */


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.navbar-right {
    padding-top: 8px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  
  /* Margin bottom by footer height
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


#usernameBox {
    border: none;
}

#alert-username-too-long {
    margin-bottom: 1px;
    height: 18px;
    line-height: 18px;
    padding: 0px 15px;
    font-size: 14px;
}

#alert-using-internet-explorer {
    display: none;
    text-align: center;
}

.night-mode {
    background: #373737;
    color: #d0d0d0;
}

h3.night-mode {
    color: #fff;
}

a.night-mode {
    color: #d0d0d0;
}
a.night-mode:hover {
    color: white;
}

a.btn-info.night-mode {
    background: #3a3353;
    border-color: #272237;
    box-shadow: 0px 2px 4px #1f1f1f;
}

input[type=text].night-mode {
    background: #2c2c2c;
    border-color: #525252;
}

#usernameBox.night-mode {
    background: #373737;
    color: #d0d0d0;
}

nav.night-mode {
    border-bottom: solid 1px;
    border-color: #272237;
    box-shadow: 0px 4px 7px #1f1f1f;
}

nav {
    border-bottom: solid 1px;
    border-color: #d7d7d7;
    box-shadow: 0px 2px 5px #c1c1c1;
    /*background-image: linear-gradient(white, #e6e6e6);*/
}

.nav-link {
    color: black;
}

.navbar-brand {
    color: black;
}

.col-md-10 {
    position: absolute;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}