@model Syncd.Views.Room.RoomModel
@{
    ViewData["Title"] = "Room";
}

<script>
    var roomId = "@Model.id";
</script>

<link rel="stylesheet" type="text/css" href="~/css/room.css">

<!-- Start custom video player lib -->
<script src="~/lib/custom-video-player/js/debug.js"></script>
<script src="~/lib/custom-video-player/js/video-player.js"></script>
<link rel="stylesheet" type="text/css" href="~/lib/custom-video-player/css/player.css">
<!-- End custom video player lib -->

<script src="~/js/room/page-functionality.js"></script>
<script src="~/js/room/userListManager.js"></script>
<script src="~/js/room/videoPlayer.js"></script>
<script src="~/js/room/admin-log.js"></script>
<script src="~/js/room/connectionManager.js"></script>
<script src="~/js/room/playlist-manager.js"></script>
<script src="~/js/room/start.js"></script>
<!--<iframe width="600" height="400"
    src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
</iframe>-->

<div id="whole-room-area">
    <div class="loading-screen" id="initial-loading-screen">
        <div class="loading-screen-middle">
            <i class="loading-info loading-icon fa fa-spin fa-sync-alt fa-4x"></i>
            <p class="loading-info loading-text">Loading...</p>
        </div>
        
    </div>

    <script type="text/javascript">
        showInitialLoadingScreen();
    </script>

    <div id="whole-room-centered">
        <div>
            <h2>@Model.name</h2>

            <div class="alert alert-warning" role="alert" id="alert-no-javascript">
                If you are seeing this message, your Javascript may not be enabled. This website requires Javascript to work.
            </div>


            <div class="alert alert-danger" role="alert" id="alert-disconnected">
                It looks like you've disconnected, attempting to reconnect... (attempts: 0)
            </div>

            <div class="alert alert-warning" role="alert" id="alert-using-internet-explorer">
                We are sorry, this website does not work correctly with Internet Explorer. Please try using a different browser.
            </div>


            <div class="playerArea">
                <div id="player"></div>
            </div>

            <hr />

            <h3 id="video-title"></h3>

            <div class="underneath-player-button-area">
                <div class="underneath-player-button" id="disable-player-button">
                    <i class="icon-no-margin fa fa-photo-video fa-2x" id="disable-player-icon"></i>
                    <!--<input type="checkbox" id="hide-player-checkbox" />-->
                    Disable player
                </div>
                <div class="underneath-player-button" id="usage-logs-activator-button">
                    <i class="icon-no-margin fa fa-eye fa-2x"></i>
                    <!--<input type="checkbox" id="hide-player-checkbox" />-->
                    Usage logs
                </div>

            </div>



            <hr />

            <label for="searchBar" id="searchBarLabel">Add a video</label>
            <div id="searchArea">

                <input id="searchBar" type="text" placeholder="Place URL here" />
                <button id="addButton" type="button">Add</button>
            </div>

            <div id="user-and-playlist-area">
                <div id="playlist-area-parent">
                    <div id="playlist-area">
                        <div class="table-heading">
                            <h5 class="playlist-header">Playlist</h5>
                        </div>

                    </div>
                </div>


                <div id="userListArea">
                    <div class="table-heading">
                        <h5>Users</h5>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
    
    
</div>
<div id="admin-log-area" class="can-have-night-mode">
    <div id="admin-log-viewer">
        <div id="admin-log-viewer-header" class="can-have-night-mode">
            <i class="icon-no-margin admin-log-viewer-header-icon fa fa-eye"></i>
            <p>Usage logs</p>
            <i class="fa fa-times close-button" id="admin-log-close-button"></i>
        </div>
        <div id="admin-log-viewer-body">
            
        </div>
    </div>
    <div id="admin-log-actions-area" class="can-have-night-mode">
        <div id="admin-log-actions-header">
            <div id="admin-log-actions-title-area">
                <h3 id="admin-log-actions-name" class="admin-log-actions-title name">FDKIkgidogoakiKGDOIKGOIkg</h3>
                <h3 id="admin-log-actions-id" class="admin-log-actions-title id">#5555</h3>
            </div>
            
            <i id="admin-log-actions-close-button" class="fa fa-times close-button"></i>
        </div>
        
        <button id="admin-log-action-kick-button" class="admin-log-action-button can-have-night-mode">
            <i class="icon-no-margin fa fa-sign-out-alt"></i>
            Kick
        </button>
        <button id="admin-log-action-ban-button" class="admin-log-action-button can-have-night-mode">
            <i class="icon-no-margin fa fa-ban"></i>
            Ban
        </button>
    </div>
</div>

@foreach (User user in Model.userList)
{
    <script>
        addUser("@user.id", "@user.name");
    </script>
}
